doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href='/font-awesome/css/font-awesome.css')
    link(rel="stylesheet" href='/stylesheets/toastr.css')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/toastr.js')
    script(src='/javascripts/html.engine.js')
    script(src='/javascripts/client.js')
  body
    block content
