body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
	border-collapse: collapse;
	border: 1px solid #ccc;
}

table td {
	border: 1px solid #ccc;
}

input[disabled] {
	background: #ddd;
}